/* src/components/Footer.css */
.footer-link {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-icon {
    color: #fff;
    font-size: 1.4rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icon:hover {
    color: #0d6efd;
    transform: scale(1.2);
}

.back-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 25px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 12px 14px;
    font-size: 18px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease;
}

.back-to-top-btn:hover {
    background-color: #084298;
}

.footer-klp {
    flex-shrink: 0;
}

@media (max-width: 576px) {
    .footer-klp {
    text-align: center;
    }
}
