/* src/components/Footer.css */
footer {
    background-color: #242ee6; /* Dark background */
    color: #fff; /* White text */
    padding: 10px 0;
    text-align: center;
    font-size: 0.9em;
    margin-top: auto; /* Pushes the footer to the bottom if container is flex-column */
    width: 100%; /* Ensure it spans full width */
    bottom: 0; /* Stick to the bottom */
    box-shadow: 0px -2px 5px #242ee6;
    z-index: 1000; /* Ensure footer is above other content */

}

.footer-content {
    max-width: 1200px; /* Adjust to match your main content width */
    margin: 0 auto;
    padding: 0 20px; /* Add some padding on the sides */
}

.footer-links {
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* Space out the links */
    white-space: nowrap; /* Prevent links from breaking onto new lines too easily */
}

.footer-links a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0; /* Remove default paragraph margin */
    padding: 0;
    font-size: 0.8em;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer-links a {
        display: block; /* Stack links vertically on small screens */
        margin: 5px 0;
    }
}
