.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px; /* adjust as needed */
  background-color: #0b80f5;
  z-index: 1000;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  /*margin-left: 250px; /* match sidebar width */
  padding: 1rem;
}

.hero-banner {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  color: #edf1f5fa;
}


