*{
    margin: 5px;
    padding: 1px 0 10ppx;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-size: large;
    color: black;
    min-height: 100vh;
    line-height: 1.6;
    font-weight: 100;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 20px;
}
nav{
    position: sticky;
    z-index: 1000;
    top: 0;
    margin-bottom: 5px;
    border-radius: 3px solid black;
    display: grid;
    padding: 10px 20px;
    grid-template-columns: 1fr auto;
    border-bottom-style: 1px solid black;
}
